body.page-home
    main.grid
        section.intro
            .logo-panorama-header
                .logo-box
                    svg(width="168" height="87" viewBox="0 0 168 87" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(fill-rule="evenodd" clip-rule="evenodd" d="M47.2763 31.4871V5.97059H64.411V47.5061C64.411 50.3085 64.5868 52.7671 64.9194 54.9157L73.4126 66.194C74.3337 66.3796 75.3125 66.479 76.3615 66.479C80.5217 66.479 83.7389 65.0551 86.0091 62.1977C88.2775 59.3442 89.4126 54.3095 89.4126 47.0995V5.97059H105.528V45.4097C105.528 57.7295 103.048 66.7045 98.0939 72.3403C94.5403 76.3814 89.7956 78.9581 83.8853 80.1008L88.6432 86.4189L87.8741 87L87.5849 86.6139L22.7939 0.581093L23.5649 0L23.8541 0.384179L47.2763 31.4871ZM106.676 80.0608L127.045 42.267L107.917 6.50265H126.368L132.783 20.379C133.608 22.1113 134.434 23.9344 135.259 25.8519C136.083 27.7695 137.022 29.8954 138.07 32.2258H138.523C139.346 29.8954 140.152 27.7695 140.943 25.8519C141.73 23.9344 142.498 22.1113 143.25 20.379L149.101 6.50265H166.767L147.749 43.056L168.004 80.0608H149.55L142.234 65.0559C141.338 63.0998 140.454 61.1649 139.59 59.2454C138.728 57.3278 137.77 55.2405 136.722 52.9834H136.271C135.444 55.2405 134.62 57.3278 133.797 59.2454C132.97 61.1649 132.144 63.0998 131.322 65.0559L124.455 80.0608H106.676ZM0.712773 14.1568H3.34269C4.93253 14.1568 6.10819 13.8736 6.87339 13.3073C7.63859 12.741 8.0249 11.7997 8.0249 10.4834C8.0249 9.15184 7.6293 8.23734 6.84181 7.73991C6.05432 7.24248 4.85638 6.99376 3.25354 6.99376H0.712773V14.1568ZM-0.000427246 21.5034V6.35093H3.52285C4.35305 6.35093 5.09597 6.42363 5.74973 6.56904C6.40164 6.71444 6.95325 6.95167 7.40086 7.28074C7.84475 7.60981 8.1865 8.03837 8.42237 8.56641C8.66196 9.09445 8.78269 9.73346 8.78269 10.4834C8.78269 11.9375 8.33507 13.0203 7.44357 13.732C6.55208 14.4437 5.27427 14.7996 3.61015 14.7996H0.712773V21.5034H-0.000427246ZM13.0617 12.1118L12.0301 15.1824H17.4956L16.4841 12.1118C16.1768 11.1813 15.8878 10.2973 15.6171 9.4599C15.3482 8.62246 15.0811 7.72299 14.8159 6.76149H14.7299C14.4665 7.72299 14.1976 8.62246 13.9287 9.4599C13.6562 10.2973 13.369 11.1813 13.0617 12.1118ZM9.28638 21.3235L14.4665 5.97059H15.0811L20.2613 21.3235H19.5131L17.7132 15.8337H11.8088L9.98694 21.3235H9.28638ZM10.1306 40.9412V25.5882H10.9279L17.7755 36.8471L19.5577 39.8711H19.6496C19.6183 39.1267 19.5968 38.4017 19.5812 37.6961C19.5656 36.9905 19.5577 36.2733 19.5577 35.5444V25.5882H20.2613V40.9412H19.462L12.6144 29.6824L10.8322 26.6583H10.7403C10.7716 27.3872 10.795 28.085 10.8107 28.7519C10.8243 29.4187 10.8322 30.1166 10.8322 30.8455V40.9412H10.1306ZM30.813 40.9412C29.8839 40.9412 29.0335 40.7579 28.2619 40.3913C27.4922 40.0246 26.8268 39.5046 26.2658 38.8313C25.7068 38.1579 25.2698 37.3461 24.9548 36.3959C24.6398 35.4457 24.4824 34.387 24.4824 33.2198C24.4824 32.0526 24.6398 30.9977 24.9548 30.055C25.2698 29.1122 25.7068 28.3117 26.2658 27.6532C26.8268 26.9948 27.4922 26.4861 28.2619 26.1269C29.0335 25.7678 29.8839 25.5882 30.813 25.5882C31.7284 25.5882 32.5748 25.7678 33.3544 26.1269C34.1339 26.4861 34.8012 26.9948 35.3622 27.6532C35.9193 28.3117 36.3563 29.1122 36.6732 30.055C36.9882 30.9977 37.1457 32.0526 37.1457 33.2198C37.1457 34.387 36.9882 35.4457 36.6732 36.3959C36.3563 37.3461 35.9193 38.1579 35.3622 38.8313C34.8012 39.5046 34.1339 40.0246 33.3544 40.3913C32.5748 40.7579 31.7284 40.9412 30.813 40.9412ZM30.813 40.2678C31.6319 40.2678 32.3859 40.0995 33.0689 39.7628C33.754 39.4261 34.3366 38.951 34.8169 38.3375C35.2973 37.7239 35.6732 36.9832 35.939 36.1153C36.2067 35.2474 36.3425 34.2822 36.3425 33.2198C36.3425 32.1574 36.2067 31.1959 35.939 30.3355C35.6732 29.4751 35.2973 28.7419 34.8169 28.1358C34.3366 27.5298 33.754 27.0659 33.0689 26.7442C32.3859 26.4225 31.6319 26.2616 30.813 26.2616C29.9784 26.2616 29.2225 26.4225 28.5453 26.7442C27.8682 27.0659 27.2914 27.5298 26.8111 28.1358C26.3308 28.7419 25.9548 29.4751 25.6871 30.3355C25.4194 31.1959 25.2855 32.1574 25.2855 33.2198C25.2855 34.2822 25.4194 35.2474 25.6871 36.1153C25.9548 36.9832 26.3308 37.7239 26.8111 38.3375C27.2914 38.951 27.8682 39.4261 28.5453 39.7628C29.2225 40.0995 29.9784 40.2678 30.813 40.2678ZM29.439 52.6497H32.6111C34.0229 52.6497 35.1013 52.3667 35.8541 51.8007C36.6031 51.2346 36.9804 50.3545 36.9804 49.1604C36.9804 47.9508 36.6031 47.0979 35.8541 46.6016C35.1013 46.1054 34.0229 45.8572 32.6111 45.8572H29.439V52.6497ZM28.7035 60.5588V45.2059H32.887C33.6378 45.2059 34.3121 45.2795 34.9097 45.4269C35.5074 45.5742 36.0188 45.8068 36.4383 46.1247C36.8597 46.4426 37.1854 46.8497 37.4152 47.346C37.6451 47.8422 37.762 48.4471 37.762 49.1604C37.762 50.3856 37.3961 51.3432 36.6682 52.0333C35.9422 52.7234 34.9404 53.1305 33.6685 53.2546L37.9899 60.5588H37.1164L32.841 53.3011H29.439V60.5588H28.7035ZM42.6095 51.3471L41.5778 54.4176H47.0433L46.0336 51.3471C45.7263 50.4166 45.4373 49.5326 45.1648 48.6952C44.8959 47.8578 44.6289 46.9583 44.3655 45.9968H44.2777C44.0143 46.9583 43.7472 47.8578 43.4765 48.6952C43.2039 49.5326 42.9168 50.4166 42.6095 51.3471ZM38.8341 60.5588L44.0143 45.2059H44.6288L49.809 60.5588H49.0609L47.2628 55.069H41.3565L39.5347 60.5588H38.8341ZM39.6783 81.8824V66.5294H40.8243L43.9537 75.8342L45.1437 79.3235H45.2301C45.4376 78.7342 45.6286 78.1527 45.8049 77.5789C45.9812 77.0051 46.1703 76.4235 46.3779 75.8342L49.5072 66.5294H50.6532V81.8824H49.948V71.1818C49.948 70.577 49.9553 69.9179 49.97 69.2045C49.9829 68.4912 50.0049 67.8166 50.0361 67.1807H49.948L48.8241 70.577L45.5386 80.161H44.7893L41.4854 70.577L40.3376 67.1807H40.2513C40.2807 67.8166 40.3027 68.4912 40.3174 69.2045C40.3303 69.9179 40.3376 70.577 40.3376 71.1818V81.8824H39.6783ZM57.8036 72.6706L56.7738 75.7412H62.2375L61.2296 72.6706C60.9223 71.7401 60.6333 70.8561 60.3608 70.0187C60.0901 69.1813 59.823 68.2818 59.5614 67.3203H59.4718C59.2102 68.2818 58.9432 69.1813 58.6725 70.0187C58.3999 70.8561 58.1109 71.7401 57.8036 72.6706ZM54.0301 81.8824L59.2102 66.5294H59.823L65.005 81.8824H64.2569L62.4588 76.3925H56.5525L54.7307 81.8824H54.0301Z" fill="#7C41FF")
                    span.logo-ano 2021

            .intro-conteudo
                h1.intro-titulo O mercado de UX em um ano pandêmico
                p.intro-texto Home office, colaboração remota, pesquisa a distância. O que mudou na rotina de trabalho e na vida de quem trabalha com UX no Brasil em 2020?

                a.btn(href="https://pt.surveymonkey.com/r/panoramaux") Responda já
                span.intro-small Leva 10 minutinhos. As respostas são aceitas até 05/12/2020.

        section.highlights
            .section-text
                h2 Highlights
                p O Panorama UX já revelou diversos achados interessantes e importantes para a evolução da disciplina.
            
            .indicadores
                .box-item
                    p #[span.valor-indicador 77%] #[span.texto-indicador trabalham no regime CLT]
                .box-item
                    p #[span.valor-indicador R$ 900] #[span.texto-indicador mulheres ganham, em média a menos do que seus pares homens]
                .box-item
                    p #[span.valor-indicador 1/4] #[span.texto-indicador respondentes se identifica como LGBTQI+]
                .box-item
                    p #[span.valor-indicador 7/10] #[span.texto-indicador UXers acredita que decisões tomadas por computadores refletem preconceitos humanos]
        
        section.apresentacao
            .section-text
                h2 Apresentação
                p Veja os resultados da última edição na apresentação feita no Dia Mundial da Arquitetura de Informação em fevereiro de 2020. 
            
            .apresentacao-slides
                .iframe-container   
                    iframe(src="//www.slideshare.net/slideshow/embed_code/key/10wL0gghS8YFM5" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" title="Apresentação Panorama UX 2019" allowfullscreen)

        section.historico
            .section-text
                h2 Histórico
                p Ao longo dos últimos 6 anos compilamos  informações que trazem um retrato da evolução da profissão no país. Veja aqui os resultados ano a ano. 

            ul.historico-anos
                li 
                    a.link-historico(href="https://brasil.uxdesign.cc/panorama-ux-2020-99a4e7c8942f")
                        span.ano 2020
                        span.respostas 1.210 respostas
                        svg.ic-seta(width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M14.5403 0.426147L23.5838 9.68547C24.1387 10.2537 24.1387 11.1749 23.5838 11.7431L14.5403 21.0024C13.9853 21.5706 13.0855 21.5706 12.5306 21.0024C11.9756 20.4342 11.9756 19.513 12.5306 18.9448L19.1482 12.1692L1.42105 12.1692C0.636228 12.1692 1.00692e-06 11.5178 9.36673e-07 10.7143C8.66424e-07 9.91073 0.636228 9.25932 1.42105 9.25932L19.1482 9.25932L12.5306 2.48378C11.9756 1.91558 11.9756 0.994346 12.5306 0.426148C13.0855 -0.142051 13.9853 -0.142051 14.5403 0.426147Z" fill="#999999")
                
                li
                    a.link-historico(href="https://brasil.uxdesign.cc/panorama-ux-2019-parte-1-diversidade-f7071114a4c9")
                        span.ano 2019
                        span.respostas 1.073 respostas
                        svg.ic-seta(width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M14.5403 0.426147L23.5838 9.68547C24.1387 10.2537 24.1387 11.1749 23.5838 11.7431L14.5403 21.0024C13.9853 21.5706 13.0855 21.5706 12.5306 21.0024C11.9756 20.4342 11.9756 19.513 12.5306 18.9448L19.1482 12.1692L1.42105 12.1692C0.636228 12.1692 1.00692e-06 11.5178 9.36673e-07 10.7143C8.66424e-07 9.91073 0.636228 9.25932 1.42105 9.25932L19.1482 9.25932L12.5306 2.48378C11.9756 1.91558 11.9756 0.994346 12.5306 0.426148C13.0855 -0.142051 13.9853 -0.142051 14.5403 0.426147Z" fill="#999999")
                    
                li
                    a.link-historico(href="http://panoramaux.saiba-mais.com/2017/")
                        span.ano 2018
                        span.respostas 711 respostas
                        svg.ic-seta(width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M14.5403 0.426147L23.5838 9.68547C24.1387 10.2537 24.1387 11.1749 23.5838 11.7431L14.5403 21.0024C13.9853 21.5706 13.0855 21.5706 12.5306 21.0024C11.9756 20.4342 11.9756 19.513 12.5306 18.9448L19.1482 12.1692L1.42105 12.1692C0.636228 12.1692 1.00692e-06 11.5178 9.36673e-07 10.7143C8.66424e-07 9.91073 0.636228 9.25932 1.42105 9.25932L19.1482 9.25932L12.5306 2.48378C11.9756 1.91558 11.9756 0.994346 12.5306 0.426148C13.0855 -0.142051 13.9853 -0.142051 14.5403 0.426147Z" fill="#999999")
                    
                li
                    a.link-historico(href="https://www.slideshare.net/lulileslie/panorama-mercado-ux-2017")
                        span.ano 2017
                        span.respostas 472 respostas
                        svg.ic-seta(width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M14.5403 0.426147L23.5838 9.68547C24.1387 10.2537 24.1387 11.1749 23.5838 11.7431L14.5403 21.0024C13.9853 21.5706 13.0855 21.5706 12.5306 21.0024C11.9756 20.4342 11.9756 19.513 12.5306 18.9448L19.1482 12.1692L1.42105 12.1692C0.636228 12.1692 1.00692e-06 11.5178 9.36673e-07 10.7143C8.66424e-07 9.91073 0.636228 9.25932 1.42105 9.25932L19.1482 9.25932L12.5306 2.48378C11.9756 1.91558 11.9756 0.994346 12.5306 0.426148C13.0855 -0.142051 13.9853 -0.142051 14.5403 0.426147Z" fill="#999999")
                    
                li
                    a.link-historico(href="http://www.saiba-mais.com/2016/02/29/mercado-de-ux-no-brasil/")
                        span.ano 2016
                        span.respostas 233 respostas
                        svg.ic-seta(width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M14.5403 0.426147L23.5838 9.68547C24.1387 10.2537 24.1387 11.1749 23.5838 11.7431L14.5403 21.0024C13.9853 21.5706 13.0855 21.5706 12.5306 21.0024C11.9756 20.4342 11.9756 19.513 12.5306 18.9448L19.1482 12.1692L1.42105 12.1692C0.636228 12.1692 1.00692e-06 11.5178 9.36673e-07 10.7143C8.66424e-07 9.91073 0.636228 9.25932 1.42105 9.25932L19.1482 9.25932L12.5306 2.48378C11.9756 1.91558 11.9756 0.994346 12.5306 0.426148C13.0855 -0.142051 13.9853 -0.142051 14.5403 0.426147Z" fill="#999999")
            
        section.newsletter
            .section-text
                h2 Newsletter
                p Quer ser avisado sobre a divulgação do resultado e novas pesquisas? Informe seu e-mail e não se preocupe, não usaremos seus dados para nenhum outro tipo de comunicação.

            .form-email

                iframe(src="https://panoramaux.substack.com/embed" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no")
                
                
        
        
        
        section.cta
            h2.cta-titulo Ainda não respondeu?
            p.cta-texto Conte para a gente como foi a adaptação da sua rotina de trabalho nesse ano de quarentena e pandemia. 

            a.btn(href="https://pt.surveymonkey.com/r/panoramaux") Responda já
        
        footer
            .logos
                svg.logo-item(viewBox="0 0 214 111" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M60.2211 40.1731V7.61765H82.0475V60.6112C82.0475 64.1866 82.2713 67.3235 82.6951 70.0649L93.5138 84.4544C94.687 84.6912 95.9339 84.8181 97.2701 84.8181C102.569 84.8181 106.667 83.0014 109.559 79.3557C112.449 75.715 113.895 69.2915 113.895 60.0925V7.61765H134.422V57.9366C134.422 73.6549 131.263 85.1057 124.953 92.2962C120.426 97.4522 114.383 100.74 106.854 102.198L112.915 110.259L111.935 111L111.567 110.507L29.0352 0.741395L30.0174 0L30.3857 0.490159L60.2211 40.1731ZM135.885 102.147L161.831 53.9269L137.466 8.29648H160.969L169.14 26.0007C170.192 28.211 171.243 30.537 172.295 32.9835C173.344 35.4301 174.54 38.1424 175.876 41.1157H176.451C177.501 38.1424 178.527 35.4301 179.535 32.9835C180.537 30.537 181.515 28.211 182.474 26.0007L189.927 8.29648H212.429L188.204 54.9335L214.005 102.147H190.498L181.179 83.0024C180.037 80.5066 178.912 78.0379 177.812 75.5889C176.714 73.1424 175.493 70.4792 174.157 67.5995H173.584C172.53 70.4792 171.481 73.1424 170.432 75.5889C169.378 78.0379 168.326 80.5066 167.28 83.0024L158.532 102.147H135.885ZM0.908054 18.0621H4.25807C6.28322 18.0621 7.78078 17.7008 8.7555 16.9783C9.73022 16.2558 10.2223 15.0548 10.2223 13.3754C10.2223 11.6765 9.7184 10.5097 8.71528 9.87506C7.71217 9.24041 6.18622 8.92308 4.14451 8.92308H0.908054V18.0621ZM-0.000427246 27.4354V8.10292H4.48755C5.54508 8.10292 6.49141 8.19567 7.32418 8.38118C8.15459 8.5667 8.85723 8.86937 9.4274 9.28922C9.99283 9.70907 10.4282 10.2559 10.7286 10.9296C11.0338 11.6033 11.1876 12.4185 11.1876 13.3754C11.1876 15.2305 10.6174 16.6121 9.48181 17.5202C8.34621 18.4282 6.71854 18.8822 4.59875 18.8822H0.908054V27.4354H-0.000427246ZM16.6383 15.4529L15.3242 19.3706H22.2862L20.9977 15.4529C20.6062 14.2658 20.2381 13.138 19.8933 12.0695C19.5508 11.0011 19.2106 9.85347 18.8727 8.62673H18.7632C18.4277 9.85347 18.0852 11.0011 17.7427 12.0695C17.3955 13.138 17.0297 14.2658 16.6383 15.4529ZM11.8292 27.2059L18.4277 7.61765H19.2106L25.8091 27.2059H24.8561L22.5634 20.2016H15.0422L12.7216 27.2059H11.8292ZM12.9046 52.2353V32.6471H13.9202L22.6427 47.0118L24.9129 50.87H25.0299C24.9901 49.9203 24.9627 48.9953 24.9428 48.0951C24.9229 47.1948 24.9129 46.2797 24.9129 45.3497V32.6471H25.8091V52.2353H24.791L16.0685 37.8706L13.7982 34.0123H13.6812C13.7211 34.9422 13.7509 35.8326 13.7708 36.6834C13.7883 37.5342 13.7982 38.4246 13.7982 39.3545V52.2353H12.9046ZM39.2501 52.2353C38.0665 52.2353 36.9833 52.0014 36.0003 51.5337C35.0199 51.0659 34.1724 50.4025 33.4578 49.5433C32.7456 48.6842 32.189 47.6485 31.7878 46.4361C31.3866 45.2238 31.186 43.8731 31.186 42.3839C31.186 40.8947 31.3866 39.5488 31.7878 38.346C32.189 37.1432 32.7456 36.1218 33.4578 35.2817C34.1724 34.4417 35.0199 33.7926 36.0003 33.3344C36.9833 32.8762 38.0665 32.6471 39.2501 32.6471C40.416 32.6471 41.4942 32.8762 42.4872 33.3344C43.4802 33.7926 44.3302 34.4417 45.0448 35.2817C45.7545 36.1218 46.3111 37.1432 46.7148 38.346C47.116 39.5488 47.3166 40.8947 47.3166 42.3839C47.3166 43.8731 47.116 45.2238 46.7148 46.4361C46.3111 47.6485 45.7545 48.6842 45.0448 49.5433C44.3302 50.4025 43.4802 51.0659 42.4872 51.5337C41.4942 52.0014 40.416 52.2353 39.2501 52.2353ZM39.2501 51.3762C40.2932 51.3762 41.2535 51.1614 42.1236 50.7318C42.9962 50.3022 43.7384 49.6961 44.3503 48.9133C44.9621 48.1305 45.441 47.1855 45.7795 46.0782C46.1206 44.9708 46.2936 43.7394 46.2936 42.3839C46.2936 41.0284 46.1206 39.8017 45.7795 38.7039C45.441 37.6062 44.9621 36.6707 44.3503 35.8974C43.7384 35.1242 42.9962 34.5324 42.1236 34.1219C41.2535 33.7114 40.2932 33.5062 39.2501 33.5062C38.1869 33.5062 37.224 33.7114 36.3614 34.1219C35.4988 34.5324 34.7642 35.1242 34.1523 35.8974C33.5405 36.6707 33.0616 37.6062 32.7206 38.7039C32.3795 39.8017 32.209 41.0284 32.209 42.3839C32.209 43.7394 32.3795 44.9708 32.7206 46.0782C33.0616 47.1855 33.5405 48.1305 34.1523 48.9133C34.7642 49.6961 35.4988 50.3022 36.3614 50.7318C37.224 51.1614 38.1869 51.3762 39.2501 51.3762ZM37.4998 67.1738H41.5405C43.3387 67.1738 44.7125 66.8127 45.6714 66.0905C46.6254 65.3683 47.1061 64.2455 47.1061 62.7219C47.1061 61.1786 46.6254 60.0904 45.6714 59.4572C44.7125 58.8241 43.3387 58.5075 41.5405 58.5075H37.4998V67.1738ZM36.5629 77.2647V57.6765H41.8918C42.8483 57.6765 43.7072 57.7705 44.4685 57.9584C45.2298 58.1464 45.8812 58.4432 46.4156 58.8488C46.9524 59.2544 47.3672 59.7738 47.66 60.407C47.9528 61.0401 48.1016 61.8118 48.1016 62.7219C48.1016 64.285 47.6356 65.5068 46.7084 66.3873C45.7836 67.2678 44.5075 67.7872 42.8874 67.9455L48.392 77.2647H47.2794L41.8333 68.0048H37.4998V77.2647H36.5629ZM54.2765 65.5118L52.9624 69.4294H59.9243L58.6382 65.5118C58.2468 64.3246 57.8786 63.1968 57.5315 62.1283C57.1889 61.0599 56.8488 59.9123 56.5132 58.6856H56.4014C56.0659 59.9123 55.7257 61.0599 55.3809 62.1283C55.0337 63.1968 54.6679 64.3246 54.2765 65.5118ZM49.4674 77.2647L56.0659 57.6765H56.8488L63.4473 77.2647H62.4943L60.2039 70.2604H52.6804L50.3598 77.2647H49.4674ZM50.5428 104.471V84.8823H52.0025L55.9887 96.754L57.5046 101.206H57.6146C57.8789 100.454 58.1222 99.712 58.3468 98.9799C58.5714 98.2479 58.8123 97.5059 59.0767 96.754L63.0629 84.8823H64.5227V104.471H63.6243V90.8182C63.6243 90.0465 63.6337 89.2056 63.6524 88.2955C63.6688 87.3853 63.6969 86.5246 63.7366 85.7134H63.6243L62.1927 90.0465L58.0076 102.274H57.0531L52.8447 90.0465L51.3826 85.7134H51.2726C51.3101 86.5246 51.3381 87.3853 51.3569 88.2955C51.3732 89.2056 51.3826 90.0465 51.3826 90.8182V104.471H50.5428ZM73.6309 92.7176L72.3191 96.6353H79.2788L77.995 92.7176C77.6035 91.5305 77.2354 90.4027 76.8882 89.3342C76.5434 88.2658 76.2032 87.1182 75.87 85.8914H75.7559C75.4227 87.1182 75.0825 88.2658 74.7376 89.3342C74.3905 90.4027 74.0224 91.5305 73.6309 92.7176ZM68.8242 104.471L75.4227 84.8823H76.2032L82.8041 104.471H81.8511L79.5607 97.4663H72.0372L69.7165 104.471H68.8242Z" fill="#999999")

                svg.logo-item(viewBox="0 0 447 82" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(fill-rule="evenodd" clip-rule="evenodd" d="M123.755 25.355L110.692 43.7759C110.439 44.1761 110.004 44.4186 109.536 44.4194H109.412C108.92 44.4433 108.452 44.1977 108.186 43.7759L95.1382 25.4109V59.4692C95.1382 60.2687 94.5001 60.9171 93.7133 60.9171C92.9265 60.9171 92.2884 60.2687 92.2884 59.4692V21.1589C92.2779 20.7094 92.4967 20.2862 92.8667 20.0398C92.8667 20.0398 92.8666 20.0398 92.9767 19.9139C93.625 19.4823 94.4915 19.6352 94.9587 20.2636L109.481 40.6989L123.933 20.2636C124.397 19.6288 125.269 19.475 125.915 19.9139C126.064 20.0581 126.198 20.2175 126.314 20.3895C126.448 20.6249 126.528 20.8879 126.549 21.1589V59.5392C126.549 60.3117 125.932 60.938 125.172 60.938C124.412 60.938 123.796 60.3117 123.796 59.5392L123.755 25.355ZM153.251 18.8651C164.139 18.8651 172.715 28.2784 172.77 39.8457C172.825 51.4129 164.139 60.8262 153.251 60.8262C142.364 60.8262 133.61 51.4129 133.541 39.8457C133.472 28.2784 142.226 18.8651 153.251 18.8651ZM153.251 58.0286C162.226 58.0286 169.769 50.0282 169.852 39.8457C169.934 29.6631 162.226 21.7883 153.251 21.7883C143.974 21.7883 136.404 29.6072 136.404 39.8457C136.404 50.0842 143.974 58.0148 153.251 58.0148V58.0286ZM192.439 60.0848C192.439 60.0848 192.439 60.0849 192.439 59.973L176.638 21.7745C176.461 21.4186 176.431 21.0058 176.556 20.6277C176.68 20.2496 176.947 19.9372 177.298 19.7601C177.638 19.5915 178.031 19.5726 178.385 19.7076C178.739 19.8425 179.023 20.1195 179.17 20.4736L193.816 55.8186L208.447 20.5295C208.576 20.1771 208.846 19.8973 209.191 19.761C209.536 19.6246 209.921 19.6449 210.25 19.8162C210.605 19.9549 210.888 20.2364 211.031 20.5939C211.174 20.9515 211.166 21.3534 211.007 21.7044L195.192 59.6092C195.16 60.1281 194.847 60.5859 194.38 60.798C194.207 60.8618 194.027 60.8997 193.843 60.91C193.67 60.9398 193.493 60.9398 193.32 60.91C192.894 60.8323 192.55 60.5104 192.439 60.0848ZM216.775 20.8792C216.775 20.0758 217.416 19.4245 218.206 19.4245C218.997 19.4245 219.638 20.0758 219.638 20.8792V59.4974C219.638 60.3008 218.997 60.9521 218.206 60.9521C217.416 60.9521 216.775 60.3008 216.775 59.4974V20.8792ZM258.619 25.355L245.57 43.7759C245.315 44.1803 244.873 44.4234 244.4 44.4194H244.29C243.798 44.4433 243.331 44.1977 243.065 43.7759L230.002 25.4109V59.4692C230.002 60.2417 229.386 60.868 228.626 60.868C228.247 60.8912 227.875 60.7543 227.599 60.4894C227.323 60.2246 227.166 59.8552 227.167 59.4692V21.1589C227.174 20.7136 227.388 20.298 227.745 20.0398C227.745 20.0398 227.745 20.0398 227.869 19.9139C228.518 19.4823 229.384 19.6352 229.851 20.2636L244.359 40.6989L258.812 20.2636C259.275 19.6288 260.147 19.475 260.794 19.9139C260.946 20.0544 261.081 20.2143 261.193 20.3895C261.327 20.6249 261.406 20.8879 261.427 21.1589V59.5392C261.427 60.3117 260.811 60.938 260.05 60.938C259.29 60.938 258.674 60.3117 258.674 59.5392L258.619 25.355ZM269.933 20.8792C269.933 20.1067 270.55 19.4804 271.31 19.4804H292.301C293.091 19.4804 293.732 20.1317 293.732 20.935C293.732 21.7384 293.091 22.3897 292.301 22.3897H272.769V38.7965H289.85C290.23 38.7958 290.594 38.9545 290.854 39.2353C291.115 39.5161 291.25 39.8939 291.227 40.2792C291.227 41.0517 290.611 41.678 289.85 41.678H272.769V58.0286H292.301C292.681 58.0279 293.044 58.1869 293.305 58.4677C293.565 58.7484 293.7 59.126 293.677 59.5112C293.677 60.2837 293.061 60.91 292.301 60.91H271.2C270.478 60.8585 269.918 60.247 269.919 59.5112L269.933 20.8792ZM303.931 25.5647V59.4974C303.931 60.2699 303.316 60.8959 302.556 60.8959C301.795 60.8959 301.179 60.2699 301.179 59.4974V21.4665C300.987 20.8728 301.206 20.2221 301.716 19.8721C302.019 19.643 302.401 19.5509 302.774 19.617C303.146 19.6831 303.475 19.9018 303.684 20.2218L328.46 55.0495V21.2989C328.46 20.5264 329.076 19.9001 329.836 19.9001C330.216 19.8769 330.587 20.0141 330.864 20.2789C331.14 20.5438 331.296 20.9129 331.296 21.2989V59.4974C331.296 59.8834 331.14 60.2525 330.864 60.5174C330.587 60.7822 330.216 60.9191 329.836 60.8959C329.408 60.9026 329.001 60.7061 328.735 60.3645C328.735 60.3645 328.557 60.2527 328.502 60.1268L303.931 25.5647ZM352.397 22.3618H340.105C339.314 22.3618 338.673 21.7105 338.673 20.9071C338.673 20.1037 339.314 19.4524 340.105 19.4524H367.496C368.287 19.4524 368.928 20.1037 368.928 20.9071C368.928 21.7105 368.287 22.3618 367.496 22.3618H355.205V59.4974C355.205 60.2699 354.588 60.8959 353.828 60.8959C353.068 60.8959 352.452 60.2699 352.452 59.4974L352.397 22.3618ZM390.813 18.8651C401.715 18.8651 410.277 28.2784 410.332 39.8457C410.387 51.4129 401.715 60.8262 390.813 60.8262C379.912 60.8262 371.171 51.4129 371.116 39.8457C371.061 28.2784 379.802 18.8651 390.813 18.8651ZM390.813 58.0286C399.788 58.0286 407.33 50.0282 407.427 39.8457C407.523 29.6631 399.788 21.7883 390.813 21.7883C381.55 21.7883 373.965 29.6072 373.965 39.8457C373.965 50.0842 381.55 58.0148 390.813 58.0148V58.0286ZM418.081 20.7112C413.52 20.7112 409.822 16.9539 409.822 12.319V1.9968C409.818 1.57275 409.983 1.16496 410.278 0.865105C410.573 0.565248 410.974 0.398338 411.391 0.40211C412.263 0.401985 412.973 1.11164 412.988 1.9968V12.319C412.89 14.2245 413.835 16.0293 415.444 17.0119C417.054 17.9944 419.066 17.9944 420.676 17.0119C422.285 16.0293 423.23 14.2245 423.132 12.319V1.9968C423.132 1.569 423.301 1.15913 423.602 0.859271C423.902 0.55944 424.308 0.394615 424.729 0.40211C425.148 0.394439 425.551 0.56012 425.847 0.860806C426.143 1.16152 426.305 1.57159 426.298 1.9968V12.319C426.298 16.9376 422.626 20.6881 418.081 20.7112ZM445.885 3.17148L440.462 10.6546L445.885 18.1798C446.128 18.5191 446.229 18.9427 446.164 19.3572C446.1 19.7718 445.876 20.143 445.541 20.3895C445.277 20.5859 444.96 20.6979 444.632 20.7112C444.125 20.7068 443.65 20.4576 443.353 20.0398L438.549 13.3402L433.731 20.0398C433.438 20.4481 432.976 20.696 432.479 20.7112C432.149 20.7072 431.831 20.5942 431.57 20.3895C430.872 19.8806 430.706 18.8955 431.199 18.1798L436.621 10.6546L431.199 3.17148C430.959 2.83098 430.863 2.40721 430.933 1.99465C431.003 1.58209 431.232 1.21523 431.57 0.975634C431.893 0.704853 432.315 0.587889 432.728 0.654792C433.142 0.72167 433.507 0.966021 433.731 1.32534L438.549 7.98318L443.353 1.32534C443.585 0.968109 443.954 0.726538 444.371 0.660012C444.787 0.593486 445.212 0.708147 445.541 0.975634C445.875 1.2195 446.098 1.58848 446.163 2.00079C446.228 2.41307 446.128 2.83442 445.885 3.17148ZM59.7907 0.765935C60.5479 0.764753 61.2719 1.08042 61.7927 1.63881C62.3136 2.1972 62.5855 2.94886 62.5438 3.71706V44.9367C60.7748 43.7804 58.5039 43.7804 56.7349 44.9367V12.1514L51.2293 18.8092C50.5415 16.7791 48.771 15.328 46.673 15.0745L57.2582 2.2065C57.593 1.74057 58.0315 1.36188 58.5381 1.10151C58.9206 0.882948 59.3519 0.767495 59.7907 0.765935ZM6.35712 44.9367C5.52664 44.3489 4.53307 44.0453 3.52123 44.0697C2.5087 44.0995 1.52149 44.3984 0.658142 44.9367V3.71706C0.703016 2.06821 2.03576 0.757711 3.65901 0.765935C4.00988 0.763622 4.35848 0.820138 4.69112 0.933571C5.26525 1.13031 5.75276 1.52668 6.06767 2.05268L16.8589 15.1025C14.7693 15.4268 13.0556 16.9554 12.4682 19.0189L6.35712 11.6478V44.9367ZM59.5291 46.6294C60.3377 46.5618 61.1369 46.8459 61.7275 47.4114C62.318 47.9768 62.6444 48.7703 62.626 49.5946C62.626 66.9755 48.7603 81.0653 31.656 81.0653C14.5516 81.0653 0.685939 66.9755 0.685939 49.5946C0.708537 47.9502 2.02669 46.6292 3.64511 46.6294C5.20806 46.6826 6.43688 48.006 6.39821 49.5946V49.7205C6.36896 56.4804 8.9883 62.974 13.678 67.7684C18.3677 72.5628 24.742 75.2635 31.3943 75.2745H31.8626C38.5052 75.2561 44.8671 72.5504 49.5421 67.7552C54.2172 62.96 56.8199 56.4703 56.776 49.7205V49.5946C56.7522 48.0118 57.9727 46.6974 59.5291 46.6294ZM14.6158 21.8441C13.9977 20.5925 14.3111 19.0732 15.3724 18.1798C15.8992 17.7263 16.568 17.4783 17.2584 17.4804C18.129 17.4896 18.9529 17.8827 19.516 18.5574L31.6282 33.3137L43.741 18.5574C44.3041 17.8827 45.128 17.4896 45.9986 17.4804C46.689 17.4783 47.3578 17.7263 47.8846 18.1798C48.9322 19.0694 49.2445 20.5717 48.6411 21.8162L35.4412 37.9433L48.2695 53.5669C49.0018 54.3816 49.234 55.5394 48.8732 56.5801C48.5124 57.6207 47.6174 58.3754 46.5443 58.5438C45.4712 58.7122 44.3939 58.267 43.741 57.3854L31.6282 42.5871L19.516 57.3854C18.4555 58.5651 16.6701 58.6903 15.46 57.67C14.25 56.6497 14.0421 54.8436 14.9875 53.5669L27.8158 37.9433L14.6158 21.8441Z" fill="#999999")

                svg.logo-item(viewBox="0 0 113 113" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M56.5016 2.17904C71.0093 2.17904 84.6528 7.84067 94.9139 18.1231C105.175 28.4056 110.825 42.0758 110.825 56.6168C110.825 70.295 105.743 83.3693 96.5155 93.4341C87.6244 103.13 75.6412 109.23 62.6637 110.702L61.6012 88.1951L73.3974 74.2198C74.0317 73.4714 73.9857 72.3384 73.2927 71.644C72.9328 71.2833 72.4602 71.0879 71.9512 71.0879C71.5024 71.0879 71.068 71.2468 70.7239 71.5376L61.1953 79.6192L60.0076 54.5066L72.2461 40.0403C72.8788 39.2903 72.8329 38.1589 72.1415 37.4629C71.7784 37.1038 71.3042 36.9068 70.7936 36.9068C70.348 36.9068 69.9088 37.0657 69.571 37.3564L59.6001 45.8068L58.8326 29.5544C58.7676 28.1482 57.6148 27.0518 56.2162 27.0518C54.8176 27.0518 53.6632 28.1482 53.5981 29.5544L52.1456 60.2985L42.8597 52.4218C42.5156 52.131 42.0795 51.9721 41.6323 51.9721C41.1249 51.9721 40.646 52.1707 40.2892 52.5315C39.5947 53.2259 39.5487 54.354 40.183 55.1072L51.7444 68.7997L49.7655 110.641C36.9196 109.046 25.0775 102.898 16.3085 93.2402C7.19697 83.204 2.17977 70.1996 2.17977 56.62C2.1766 26.6021 26.5474 2.17904 56.5016 2.17904ZM56.5016 1C25.8481 1 1 25.8997 1 56.6152C1 85.4302 22.867 109.122 50.8755 111.948L52.9369 68.3866L41.0773 54.3413C40.8331 54.0537 40.8506 53.6279 41.117 53.3625C41.2565 53.2211 41.4421 53.1496 41.6276 53.1496C41.7941 53.1496 41.9606 53.2068 42.0954 53.3196L53.2065 62.7376L54.7684 29.6053C54.8033 28.8346 55.4423 28.2276 56.2114 28.2276C56.9821 28.2276 57.6211 28.8362 57.6544 29.6053L58.5376 48.2507L70.3306 38.2527C70.4686 38.1382 70.6287 38.0842 70.7968 38.0842C70.9807 38.0842 71.1663 38.1557 71.3074 38.2971C71.5754 38.5641 71.5928 38.9899 71.3502 39.2791L58.8136 54.0966L60.1345 82.0631L71.4866 72.4353C71.6198 72.3209 71.7847 72.2653 71.9512 72.2653C72.1367 72.2653 72.3223 72.3368 72.4618 72.4767C72.7282 72.7436 72.7472 73.1726 72.5014 73.4571L60.4009 87.7867L61.5473 112C89.8333 109.446 112 85.6273 112 56.6152C112.002 25.8997 87.1519 1 56.5016 1Z" fill="#999999" stroke="#999999" stroke-width="0.5")


            p.footer-texto O Panorama UX é uma realização de #[a(href="https://www.linkedin.com/in/lulileslie/" target="_blank") Carolina Leslie] e #[a(href="https://www.linkedin.com/in/anacoli/" target="_blank") Ana Coli]. E o Panorama UX Research por #[a(href="https://www.linkedin.com/in/izabeladefatima/" target="_blank") Izabela de Fátima]. Site projetado e desenvolvido por #[a(href="https://victorcarvalho.com" target="_blank") Victor Carvalho]. 

            .apoios
                h3.titulo-apoio APOIO
                a.apoio-link(href="https://zoly.com.br/" target="_blank" title="zoly.com.br")
                    svg.logo-zoly(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 519.98 262.81" xml:space="preserve")

                        g
                            defs
                                rect(id="SVGID_1_" width="519.98" height="262.81")

                            clipPath(id="SVGID_2_")
                                use(xlink:href="#SVGID_1_"  style="overflow:visible;")

                            path(class="st0" d="M171.14,62.69h-19.09l-17.58,19.1H62.68v14.49h58.45l-59.06,64.15h19.7l17.58-19.1h71.79v-14.49h-58.45l59.06-64.15H171.14z M219.85,75.5h49.32v0.22l-51.01,54.15v11.46h69.32v-12.92h-49.77v-0.23l51.12-54.04V62.69h-68.98V75.5zM441.69,81.79l-19.21,40.89h-0.23l-19.33-40.89h-15.5l27.41,55.61l-14.61,29.21h15.51l41.57-84.82H441.69z M324.95,80.1c-18.76-0.34-33.48,14.04-33.14,31.46c-0.34,17.64,14.38,31.79,33.14,31.46c19.21,0,33.14-13.59,33.14-31.46C358.43,94.15,343.71,79.76,324.95,80.1 M338.88,125.38c-3.59,3.6-8.2,5.39-13.93,5.39s-10.34-1.8-13.82-5.39c-3.59-3.6-5.39-8.2-5.39-13.82c0-5.62,1.8-10.22,5.39-13.82c3.48-3.6,8.09-5.39,13.82-5.39s10.34,1.8,13.93,5.39c3.48,3.59,5.28,8.2,5.28,13.82C344.16,117.18,342.37,121.78,338.88,125.38 M367.19,141.33h13.93V59.32h-13.93V141.33z")
                            path(class="st0" d="M280.09,172.69h3.65v3.5h-3.65V172.69z M280.4,179.76h3.15v20.36h-3.15V179.76z")
                            path(class="st0" d="M290.32,192.51c0.65,3.57,3.34,5.49,7.91,5.49c3.88,0,6.26-1.23,6.26-3.27c0-2-1.81-3-6.72-3.65c-7.22-1-9.6-2.57-9.6-5.96c0-3.53,3.46-5.96,8.64-5.96c4.88,0,9.11,2.84,9.8,6.61l-2.92,0.58c-0.77-2.77-3.38-4.5-6.88-4.5c-3.34,0-5.61,1.27-5.61,3.15c0,1.85,1.46,2.57,6.65,3.34c7.19,1.07,9.72,2.73,9.72,6.34s-3.69,5.99-9.34,5.99c-5.95,0-10.22-2.96-10.83-7.53L290.32,192.51z")
                            polygon(class="st0" points="322.67,173.22 327.12,173.22 338.11,194.97 338.19,194.97 349.14,173.22 353.6,173.22 353.6,200.12 350.25,200.12 350.25,177.8 350.18,177.8 338.81,200.12 337.46,200.12 326.05,177.8 325.97,177.8 325.97,200.12 322.67,200.12 	")
                            path(class="st0" d="M359.12,179.76h3.15v11.53c0,4.19,2.35,6.65,6.49,6.65c3.96,0,6.8-2.77,6.8-6.68v-11.49h3.15v20.36h-3.07v-2.54h-0.08c-1.54,2-4.26,3.11-7.53,3.11c-5.42,0-8.91-3.42-8.91-8.8V179.76z")
                            path(class="st0" d="M389.26,182.41v13.06c0,1.38,0.58,1.88,2.23,1.88h3.19v2.77h-3.23c-3.8,0-5.34-1.35-5.34-4.69v-13.02h-4.42v-2.65h4.42v-4.57h3.15v4.57h6.53v2.65H389.26z")
                            path(class="st0" d="M406.77,188.28c4.34-0.73,5.84-1.54,5.84-3.11c0-1.96-2-3.23-5.11-3.23c-3.53,0-5.96,1.81-6.57,4.88l-3.04-0.65c0.77-4.26,4.49-6.99,9.6-6.99c5.19,0,8.49,2.61,8.49,6.65v14.29h-3.04v-2.57h-0.08c-1.38,1.88-4.34,3.15-7.57,3.15c-4.73,0-7.53-2.31-7.53-6.03C397.78,191.09,400.28,189.32,406.77,188.28 M412.84,188.63h-0.08c-0.58,1.04-2.04,1.61-5.42,2.19c-4.57,0.77-6.38,1.84-6.38,3.84c0,2.19,1.61,3.23,4.99,3.23c3.61,0,6.88-2.31,6.88-4.88V188.63z")
                            path(class="st0" d="M421.01,179.76h3.07v2.54h0.08c1.54-1.96,4.34-3.11,7.3-3.11c5.73,0,9.64,3.53,9.64,8.68v12.26h-3.15v-11.64c0-4.04-2.5-6.53-6.49-6.53c-4.3,0-7.3,2.73-7.3,6.68v11.49h-3.15V179.76z")
                            path(class="st0" d="M450.77,182.41v13.06c0,1.38,0.58,1.88,2.23,1.88h3.19v2.77h-3.23c-3.8,0-5.34-1.35-5.34-4.69v-13.02h-4.42v-2.65h4.42v-4.57h3.15v4.57h6.53v2.65H450.77z")

                a.apoio-link(href="https://thebridge.social/" target="_blank" title="thebridge.social")
                    svg.logo-bridge(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 372.05 171.13" xml:space="preserve")

                        g
                            g
                                g
                                    g
                                        g
                                            path(class="st0" d="M16.26,123.8H0V33.81h16.26v32.15c5.87-5.87,12.59-8.8,20.42-8.8c16.75,0,30.69,13.94,30.69,34.23c0,19.93-14.55,34.11-31.05,34.11c-8.19,0-14.18-2.93-20.05-8.56V123.8z M15.53,91.15c0,11.74,7.82,19.44,17.85,19.44c10.15,0,17.61-8.19,17.61-19.32c0-10.64-6.85-19.19-17.61-19.19C22.98,72.08,15.53,79.78,15.53,91.15z")
                                
                                        g
                                            path(class="st0" d="M90.97,67.07c3.06-6.72,8.31-9.9,13.69-9.9c3.42,0,5.5,0.98,7.09,1.71l-5.01,13.94c-1.22-0.61-3.06-1.35-4.77-1.35c-4.64,0-8.31,5.38-8.68,14.92c-0.12,3.54-0.12,7.58-0.12,11.12v26.29H76.91V58.88h14.06V67.07z")
                                    
                                        g
                                            g
                                                path(class="st0" d="M139.66,42.86c0,5.75-4.65,10.39-10.39,10.39c-5.99,0-10.39-5.26-10.39-11.25c0-5.62,4.77-9.9,10.39-9.9C135.13,32.1,139.66,36.99,139.66,42.86z")
                                        
                                            g
                                                rect(x="121.2" y="58.88" class="st0" width="16.26" height="64.92")
                                        
                                        
                                        g
                                            path(class="st0" d="M200.18,116.95c-5.75,5.62-11.86,8.56-20.05,8.56c-16.5,0-30.93-14.18-30.93-34.11c0-20.3,13.69-34.23,30.57-34.23c7.82,0,14.55,2.93,20.42,8.8V33.81h16.26v89.98h-16.26V116.95z M165.58,91.28c0,11.12,7.34,19.32,17.48,19.32c10.02,0,17.85-7.58,17.85-19.44c0-11.37-7.58-19.07-17.85-19.07C172.3,72.08,165.58,80.64,165.58,91.28z")
                                    
                                        g
                                            path(class="st0" d="M367.65,111.2c-6.97,9.9-16.14,14.3-29.83,14.3c-20.66,0-33.99-15.16-33.99-34.23c0-17.73,12.84-34.11,33.74-34.11c20.54,0,34.48,14.67,34.48,35.21c0,1.47-0.12,2.2-0.12,3.67h-52.33c1.59,9.66,8.92,15.04,18.22,15.04c6.97,0,11.61-1.96,16.14-6.36L367.65,111.2z M355.67,83.21c-2.2-7.58-9.17-12.23-17.85-12.23c-8.07,0-14.3,4.03-17.48,12.23H355.67z")
                                
                                        g
                                            path(class="st0" d="M292.89,58.88h-16.26v7.09c-6.11-5.74-12.47-8.8-20.54-8.8c-16.51,0-30.32,13.2-30.32,33.26c0,19.44,13.69,33.38,31.18,33.38c8.43,0,14.3-2.81,19.68-8.07l-0.02,8.97c-0.48,16.75-14.23,30.24-31.09,30.24c-12.34,0-22.99-7.23-28.03-17.66h-17.33c5.82,19.55,23.94,33.86,45.36,33.86c26.1,0,47.34-21.23,47.34-47.33l0.03,0V58.88zM260,108.88c-10.15,0-17.85-7.58-17.85-18.34c0-10.03,6.85-18.46,17.61-18.46c10.76,0,17.73,8.07,17.73,18.58C277.48,101.67,270.03,108.88,260,108.88z")
                                
                                    
                                    g
                                        g
                                            path(class="st0" d="M60.92,11.35c-3.77,0-7.19,1.53-9.67,4V0h-4.05v43.63h4.05V25.07c0-5.33,4.34-9.67,9.67-9.67s9.67,4.34,9.67,9.67v18.56h4.05V25.07C74.64,17.5,68.48,11.35,60.92,11.35z")
                                        
                                        g
                                            path(class="st0" d="M96.81,40.73c-6.76,0-11.68-5.28-11.86-12.51h28.34c-0.12-10.43-7.35-16.89-16.3-16.89c-9.84,0-16.18,8.06-16.18,16.66c0,8.42,5.99,16.42,16.42,16.42c6.88,0,11.8-3.14,15-9.43l-3.38-1.78C106.53,36.99,103.39,40.73,96.81,40.73z M97.05,15.23c5.31,0,9.88,2.76,11.65,8.92H85.53C87.44,18.11,91.57,15.23,97.05,15.23z")
                                        
                                        g
                                            polygon(class="st0" points="34.75,11.65 34.75,0 30.72,0 30.72,11.65 24.26,11.65 24.26,15.71 25.15,15.71 25.15,15.71 30.72,15.71 30.72,43.63 34.75,43.63 34.75,15.71 41.21,15.71 41.21,15.71 41.21,12.15 41.21,11.65")

                  a.apoio-link(href="https://experienciaobserve.com.br/" target="_blank" title="experienciaobserve.com.br")
                    svg.logo-observe(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 861 349" style="enable-background:new 0 0 861 349;" xml:space="preserve")            
                        g
                            defs
                                rect(id="SVGID_1_" width="861" height="349")
                            
                            clipPath(id="SVGID_2_")
                                use(xlink:href="#SVGID_1_"  style="overflow:visible;")
                            
                            path(class="st1" d="M305.2,200.2c0,30-19.8,49.1-46.6,49.1c-12.8,0-24.8-4.1-31.7-12.4v11h-27.3V99.2h27.6l0.9,63.5c7.1-7.8,17.7-11.5,29.6-11.5C286.9,151.1,305.2,170.3,305.2,200.2 M278.1,200.2c0-16.5-10.5-26.4-24.3-26.4c-13.8,0-26.1,9.9-26.1,26.4c0,16.5,12.2,26.4,26.1,26.4C267.7,226.6,278.1,216.7,278.1,200.2")
                            path(class="st1" d="M355.2,149.3c13.4,0,28.2,3.1,37.4,8.5l-9.4,20c-9.6-5.4-19.1-7.2-28-7.2c-12.6,0-18.1,4-18.1,9c0,16.6,58.7,0.5,58.7,38.8c0,18.1-16.8,30.9-45.9,30.9c-16.4,0-33-4.5-42.1-10.5l9.4-20.2c8.7,5.6,21.8,9.4,33.8,9.4c13,0,17.9-3.4,17.9-8.8c0-15.9-58.7,0.4-58.7-38.5C310.3,162.3,326.9,149.3,355.2,149.3")
                            path(class="st1" d="M499.7,207.5h-70.6c2.7,12,12.9,19.4,27.7,19.4c10.2,0,17.6-3.1,24.2-9.3l14.9,16.2c-9,10.2-22.4,15.6-39.9,15.6c-33.4,0-55.1-21-55.1-49.7c0-28.9,22.1-49.7,51.5-49.7c28.4,0,47.8,19,47.8,50.1C500.3,202.1,499.9,205.1,499.7,207.5 M428.8,191.1h47.6c-2-12.2-11.1-20.1-23.7-20.1C439.9,171,430.8,178.7,428.8,191.1")
                            path(class="st1" d="M757.8,207.5h-70.6c2.7,12,12.9,19.4,27.7,19.4c10.2,0,17.6-3.1,24.2-9.3l14.9,16.2c-9,10.2-22.4,15.6-39.9,15.6c-33.4,0-55.1-21-55.1-49.7c0-28.9,22.1-49.7,51.5-49.7c28.4,0,47.8,19,47.8,50.1C758.4,202.1,758,205.1,757.8,207.5 M686.9,191.1h47.6c-2-12.2-11.1-20.1-23.7-20.1C698,171,688.9,178.7,686.9,191.1")
                            path(class="st1" d="M567.8,149.3v26.4c-2.4-0.2-4.2-0.4-6.4-0.4c-15.8,0-28.7,8.6-28.7,27.5v46.5h-26.1v-99.4h25.6v13.8C539.2,154.2,552.6,149.3,567.8,149.3")
                            polygon(class="st1" points="666.8,149.3 634.3,249.3 604.4,249.3 572.1,149.3 597.3,149.3 620,224.1 641.1,149.3 	")
                            path(class="st1" d="M145.7,150.2c-27.4,0-49.6,22.2-49.6,49.6c0,27.4,22.2,49.6,49.6,49.6s49.6-22.2,49.6-49.6C195.2,172.4,173,150.2,145.7,150.2 M170.9,225h-50.6v-50.6h50.6V225z")
                       
  


        svg.shape-quadrado(viewBox="0 0 301 301" fill="none" xmlns="http://www.w3.org/2000/svg")
            rect(x="0.35022" y="0.300598" width="300" height="300.671" fill="#F2EFF8")

        svg.shape-circulo(viewBox="0 0 1028 1028" fill="none" xmlns="http://www.w3.org/2000/svg")
            circle(cx="514" cy="514" r="514" fill="#F2EFF8")

        svg.shape-triangulo(width="613" height="600" viewBox="0 0 613 600" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M425.244 137.6L374.974 599.313L0.253994 324.921L425.244 137.6Z" fill="#F2EFF8")

        svg.shape-quadrado2(width="301" height="301" viewBox="0 0 301 301" fill="none" xmlns="http://www.w3.org/2000/svg")
            rect(x="0.35022" y="0.300598" width="300" height="300.671" fill="#F2EFF8")



