// global.less


// -- variables --

// colors
@purple: #7c41ff;
@purple-light: #f2eff8;

@white: #fff;

@grey-dark: #444;
@grey: #999;
@grey-light: #d4d4d4;
@grey-lighter: #fdfdfd;




html { 
    font-size: 62.5%;
    scroll-behavior: smooth;
} 

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.4rem;/* =24px */
    text-align: left;
    padding: 0;
    background: @grey-lighter;
    color: #444;
    margin: 0;
  }
  
a {
    font-style: normal;
    font-size: inherit;
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}



video {
    width: 100%;
    height: auto;
}

.iframe-container {
    position: relative;
    padding-bottom: 56.25%; /*16:9*/
    padding-top: 30px; 
    width: 100%;
    height: 0; 
    overflow: hidden;

    box-shadow: 0px 4px 20px rgba(0,0,0,.1);
    border-radius: 4px;
}
   
.iframe-container iframe,
.iframe-container object,
.iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.logo-box {
    position: relative;
}

.logo-ano {
    position: absolute;
    right: 44px;
    top: 24px;
    display: block;
    font-weight: bold;
    font-size: 34px;

    text-align: center;

    color: @purple;

    transform-origin: center center;
    transform: rotate(-90deg);
}

.btn {
    display: inline-block;
    padding: 1.6rem 3.2rem;

    font-weight: bold;
    font-size: 3.2rem;
    color: @white;

    background: @purple;
    border-radius: 98px;

    text-decoration: none;

    transition: transform .2s;

    :hover {
        text-decoration: none;
        transform: scale(1.1);

        transition: transform .2s;
    }
}

@media (min-width: 2560px) {
    html { font-size: 110%; } 
}  