// home.less

.page-home {

    .grid {
        display: flex;
        flex-direction: column;
        position: static;
    }

    .content {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 5;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
    }


}

