// home.less

.page-home {

    .intro,
    .highlights,
    .apresentacao,
    .historico,
    .newsletter {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) 1fr 1fr 1fr;
    }

    .logo-panorama-header { padding: 4.0rem; }

    .logo-panorama-header,
    .section-text {
        grid-column-start: 1;
        grid-column-end: 2;

        
        vertical-align: middle;

        position: relative;
    }

    .intro-conteudo {
        grid-column-start: 2;
        grid-column-end: 5;
        
        padding: 10.0rem 10.0rem 25.6rem 4.4rem;

        .intro-titulo {
            font-size: 7.2rem;
            color: @purple;
        }

        .intro-texto {
            font-size: 3.2rem;
            line-height: 6.4rem;
            color: @grey-dark;
        }

        .intro-small {
            display: inline-block;
            margin-left: 1.6rem;
            font-size: 1.6rem;
            color: @grey-dark;
        }
    }

    .indicadores,
    .apresentacao-slides,
    .historico-anos,
    .form-email {
        grid-column-start: 2;
        grid-column-end: 5;
        
        padding: 0 10.0rem 25.6rem 4.4rem;
    }


    .section-text {
        padding: 0 4.0rem;

        h2 {
            position: absolute;
            top: 160px;
            left: 16px;

            display: inline-block;
            

            margin: 0;
            padding: 0;
            
            font-weight: bold;
            font-size: 3.2rem;
            text-align: center;
            color: @purple;

            transform-origin: 0 0;
            transform: rotate(-90deg);

            ::before {
                position: absolute;
                left: -40px;
                top: 16px;
                content: " ";
                display: block;
                width: 32px;
                height: 1px;
                border-top: 1px solid @grey-dark;

            }
        }

        p {
            padding-left: 3.2rem;
            font-size: 1.6rem;
            line-height: 2.4rem;

            color: @grey-dark;
        }
    }

    .indicadores {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(458px, 1fr));

        .box-item {
            padding: 2.4rem;
            text-align: center;

            border: 1px solid @grey-light;

            border-collapse: collapse;

            :first-child,
            :last-child {border: none;}

            :nth-child(2) {
                border-top: none;
                border-right: none;
            }

            :nth-child(3) {
                border-bottom: none;
                border-left: none;
            }

            box-sizing: border-box;
        }


        .valor-indicador {
            display: block;
            margin-bottom: 1.6rem;

            font-size: 8.4rem;
            color: @purple;
        }

        .texto-indicador {
            font-size: 2.4rem;
            color: @grey-dark;
        }

    }

    .historico-anos {
        margin: 0;
        list-style: none;

        li {
            padding: 24px 16px;
            border-bottom: 1px solid @grey-light;


            .ano {
                font-size: 4.8rem;
                font-weight: bold;
                color: @purple;

                vertical-align: middle;
            }

            .respostas {
                color: 2.4rem;
                color: @grey-dark;
                margin-left: 12.8rem;

                vertical-align: middle;
            }

            .ic-seta {
                float: right;
                margin-top: 18px;
            }

            :hover {
                background-color: @purple-light;
            }
        }
    }

    .form-email {
        input {
            padding: 44px;

            height: 98px;
            width: 100%;

            background: @white;
            border: 1px solid @grey-light;
            border-radius: 98px;
            font-size: 3.2rem;

            box-sizing: border-box;

            ::placeholder {
                color: @grey-light;
            }

            :focus {
                outline: none;

                border-color: @purple;
                border-width: 2px;
            }
            
        }

        button {
            margin-left: -64px;

            border: none;

            background-color: transparent;
        }
    }


    .cta {
        width: 1100px;
        height: 1100px;

        margin: 0 auto;

        box-sizing: border-box;
        padding: 300px 100px;

        border-radius: 1100px;
        background-color: @purple-light;

        text-align: center;

        .cta-titulo {
            font-weight: bold;
            font-size: 6.4rem;
            text-align: center;

            color: @purple;
        }

        .cta-texto {
            font-size: 3.2rem;
        }
    }


    footer {
        margin-top: -200px;
        padding: 100px 200px;

        text-align: center;

        background-color: @white;

        .logos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 24px;

        }

        .logo-item {
            place-self: center center;
        }

        .footer-texto {
            margin-top: 5.6rem;
            color: @grey;
        }
    }




}

