// home.less

.page-home {

    .intro,
    .highlights,
    .apresentacao,
    .historico,
    .newsletter {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) 1fr 1fr 1fr;
    }

    .logo-panorama-header { padding: 4.0rem; }

    .logo-panorama-header,
    .section-text {
        grid-column-start: 1;
        grid-column-end: 2;

        
        vertical-align: middle;

        position: relative;
    }

    .intro-conteudo {
        grid-column-start: 2;
        grid-column-end: 5;
        
        padding: 10.0rem 10.0rem 25.6rem 4.4rem;

        .intro-titulo {
            font-size: 7.2rem;
            color: @purple;
        }

        .intro-texto {
            font-size: 3.2rem;
            line-height: 6.4rem;
            color: @grey-dark;
        }

        .intro-small {
            display: inline-block;
            margin-left: 1.6rem;
            margin-top: 2.4rem;
            font-size: 1.6rem;
            color: @grey-dark;
        }
    }

    .indicadores,
    .apresentacao-slides,
    .historico-anos,
    .form-email {
        grid-column-start: 2;
        grid-column-end: 5;
        
        padding: 0 10.0rem 25.6rem 4.4rem;
    }


    .section-text {
        padding: 0 4.0rem;

        h2 {
            position: absolute;
            top: 160px;
            left: 16px;

            display: inline-block;
            

            margin: 0;
            padding: 0;
            
            font-weight: bold;
            font-size: 3.2rem;
            text-align: center;
            color: @purple;

            transform-origin: 0 0;
            transform: rotate(-90deg);

            ::before {
                position: absolute;
                left: -40px;
                top: 16px;
                content: " ";
                display: block;
                width: 32px;
                height: 1px;
                border-top: 1px solid @grey-dark;

            }
        }

        p {
            padding-left: 3.2rem;
            font-size: 1.6rem;
            line-height: 2.4rem;

            color: @grey-dark;
        }
    }

    .indicadores {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .box-item {
           
            padding: 2.4rem;
            text-align: center;

            border: 1px solid @grey-light;

            :first-child {border: none;}

            :nth-child(2) {
               border-top: none;
               border-right: none;
               border-bottom: none;
            }

            :nth-child(3) {
                border-bottom: none;
                border-left: none;
                border-right: none;
            }

            :last-child {
                border-right: none;
                border-bottom: none;
            }

            box-sizing: border-box;
        }


        .valor-indicador {
            display: block;
            margin-bottom: 1.6rem;

            font-size: 8.4rem;
            color: @purple;
        }

        .texto-indicador {
            font-size: 2.4rem;
            color: @grey-dark;
        }

    }

    .historico-anos {
        margin: 0;
        list-style: none;

        li {
            padding: 24px 16px;
            border-bottom: 1px solid @grey-light;

            .link-historico {
                display: block;
                text-decoration: none;
            }


            .ano {
                font-size: 4.8rem;
                font-weight: bold;
                color: @purple;

                vertical-align: middle;
            }

            .respostas {
                color: 2.4rem;
                color: @grey-dark;
                margin-left: 12.8rem;

                vertical-align: middle;
            }

            .ic-seta {
                float: right;
                margin-top: 18px;
            }

            :hover {
                background-color: @purple-light;
            }
        }
    }

    .form-email {

        iframe {
            width: 100%;
        }

    }


    .cta {
        width: 70vw;
        height: 70vw;
        margin: 0 auto;

        box-sizing: border-box;
        padding: 15vw 4vw 4vw 4vw;

       

        border-radius: 1100px;
        background-color: @purple-light;

        text-align: center;

        .cta-titulo {
            font-weight: bold;
            font-size: 6.4rem;
            text-align: center;

            color: @purple;
        }

        .cta-texto {
            font-size: 3.2rem;
        }
    }


    footer {
        margin-top: -200px;
        padding: 10.0rem 20.0rem;

        text-align: center;

        background-color: @white;
        border-top: 1px solid @grey-light;

        .logos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 24px;

        }

        .logo-item {
            place-self: center center;
            max-height: 7rem;

            :nth-child(2) {padding-left: 3.2rem;}
        }

        

        .footer-texto {
            margin-top: 5.6rem;
            color: @grey;

            a{
                color: @grey;
                font-weight: bold;
            }
        }

        .apoios {
            padding: 6.4rem 1.6rem 2.4px 1.6rem;
            
        }

        .apoio-link {
            display: inline-block;
            width: auto;
            vertical-align: middle;
        }

        .titulo-apoio {
            font-size: 1.6rem;
            font-weight: bold;
            color: @grey;
        }

        .apoios svg { 
            fill: @grey;
            padding: 0 1.6rem;
            width: 100%;
        }

        .logo-zoly {
            max-width: 210px;
        }

        .logo-bridge {
            max-width: 150px;
        }

        .logo-observe {
            max-width: 240px;
        }


    }

    @keyframes rodar {
        from {transform: rotate(0);}
        to {transform: rotate(180deg);}
      }

    @keyframes crescer {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
    }

    .shape-quadrado {
        position: absolute;
        top: 400px;
        left: -5%;
        z-index: -1;

        width: 30vw;
        height: auto;

        animation-name: rodar;
        animation-duration: 60s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .shape-circulo {
        position: absolute;
        top: 600px;
        right: -30%;
        z-index: -1;

        width: 70vw;
        height: auto;

        animation-name: crescer;
        animation-duration: 60s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .shape-triangulo {
        position: absolute;
        top: 2000px;
        left: 5%;
        z-index: -1;

        width: 50vw;
        height: auto;

        animation-name: rodar;
        animation-duration: 60s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .shape-quadrado2 {
        position: absolute;
        bottom: 1800px;
        right: -5%;
        z-index: -1;

        width: 30vw;
        height: auto;

        animation-name: rodar;
        animation-duration: 60s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }


    @media screen and (max-width: 1107px) {
        
        .cta { 
            margin-top: 6.4rem;
            padding-top: 12vw;

            .cta-titulo { font-size: 4.4rem; }
    
            .cta-texto { font-size: 2.4rem; }
         
        }
        
        
    }


    @media screen and (max-width:1024px) {
        .intro,
        .highlights,
        .apresentacao,
        .historico,
        .newsletter {
            display: block;
            padding: 6.4rem 4.0rem;   
        }

        .intro {padding-top: 4.0rem;} 

        .logo-panorama-header {
            padding: 0;
        }

        .intro-conteudo {
            padding: 0;

            .intro-titulo {
                font-size: 4.4rem;
            }

            .intro-texto {
                font-size: 2.4rem;
                line-height: 4.0rem;
            }
        }

        .section-text {
            padding: 0;
    
            h2 {
                position: static;
                top: 160px;
                left: 16px;
    
                display: inline-block;
                
    
                margin: 0;
                padding: 0;
                
                font-weight: bold;
                font-size: 3.2rem;
                text-align: center;
                color: @purple;
    
                transform-origin: 0 0;
                transform: rotate(0);
            }

            p {
                padding-left: 0;
            }
        }

        .indicadores,
        .apresentacao-slides,
        .historico-anos,
        .form-email {
            
            
            padding: 0
        }

        footer {
            padding: 10.0rem 3.2rem;
        }


    }

    @media screen and (max-width:900px) {
        .cta {
            width: 98vw;
            height: 98vw;

            padding-top: 24vw;
        }
    }

    @media screen and (max-width:620px) {

        .intro-conteudo {
            .intro-small {
                margin-left: 0;
            }
        }

        .indicadores {
            .valor-indicador {
                
                margin-bottom: 1.6rem;
    
                font-size: 4.4rem;
                
            }
    
            .texto-indicador {
                font-size: 1.8rem;
                
            }
        }

        .historico-anos {
            li {
                .ano {
                    font-size: 3.2rem;
                    font-weight: bold;
                    color: @purple;
    
                    vertical-align: middle;
                }

                .respostas {
                    margin-left: 2.4rem;
                    font-size: 1.8rem;
                }

                .ic-seta {
                    margin-top: 0.8rem;
                }

                
    
                
            }
            
        }

        .cta {

            .cta-titulo { font-size: 3.2rem; }
    
            .cta-texto { font-size: 1.8rem; }
        }


        footer {
            margin-top: -100px;

            .logo-item { max-height: 6.0rem;}
        }

        .shape-quadrado {
            top: 300px;
        }

        .shape-circulo {
            top: 700px;
        }

        .shape-triangulo {
            top: 1800px;
        }

        .shape-quadrado2 {
            bottom: 1400px;
        }
    }

    @media screen and (max-width:360px) {
        .cta {
            padding-top: 1.6rem;
        }

        footer {
            margin-top: -50px;

            .footer-texto {
                font-size: 1.8rem;
            }
        }
    }



}

